[mysqld]
;innodb_force_recovery = 6
key_buffer_size = 256M
max_allowed_packet = 512M
table_open_cache = 4
read_buffer_size = 256K
read_rnd_buffer_size  = 256K
net_buffer_length = 2K
thread_stack  = 128K
query_cache_size = 1M
query_cache_limit = 128M
thread_cache_size = 8
thread_stack = 256K
default-storage-engine = InnoDB
bulk_insert_buffer_size = 512M
max_connections = 1500
sort_buffer_size = 2000M
myisam_sort_buffer_size = 4G
innodb_lock_wait_timeout = 100
innodb_buffer_pool_size = 4G
innodb_log_buffer_size = 256M
innodb_log_file_size = 1G
innodb_write_io_threads = 16
innodb_flush_log_at_trx_commit = 0
